<!DOCTYPE html>
<html lang="en">
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <!-- Bootstrap CSS -->
                        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
            <link rel="stylesheet" href="/css/main.css">
        <meta charset="utf-8">
        <title>update trip</title>
        <link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class='card new'>
                <h1> desirable travel destination</h1>
            </div>
        <form class='form-group' action="/desteny/newlist/<%=travelnew.id %>?_method=PUT" method="POST">

            <label for="name">Destination target</label>
             <input type="text" class="form-control" name="name" value="<%=travelnew.name;%>"/><br/>

             <label for="description">point of interests</label>
          <textarea type="text" class="form-control" name="description" value="<%=travelnew.description;%>"></textarea><br/>

        <label for="img">Image URL</label>
        <input type="text" class="form-control" name="img" value="<%=travelnew.img%>"/>

            <label for="price">Expected price</label>
            <select type="text" class="form-control" name="price" value="<%=travelnew.price%>"> 
                <option >1800 - 2600</option>
                <option >2600 - 3200</option>
                <option >3200 - 4100</option>
                <option >4100 - 5200</option>
                <option >5200 - 6300</option>
                <option >6300 - 7800 </option>
                
            </select><br/>
            
            <input type="submit" name="" value="new trip"/>
        </form>
</div>
    </body>
</html>
