<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="/css/main.css">
        <meta charset="utf-8">
        <title>new destination</title>
    </head>
    <body>
        <div class="container">
                <h1>desirable travel destinations</h1>
        
        <ul class='card' >
                <li> <%=trip.name; %></li> 
                <li> <%=trip.description; %></li> 
                <li> <%=trip.price; %></li> 
        </ul>
         <!-- EDIT LINK -->
         <a href="/trips/<%=trip.id; %>/edit">Edit</a>
                     
         <!--  ADD DELETE FORM HERE-->
        <form action="/trips/<%=trip.id; %>?_method=DELETE" method="POST">
         <input type="submit" value="DELETE"/>
        </form>
</div>
    </body>
</html>
