<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
            <link rel="stylesheet" href="/css/main.css">
            <link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">
        <title>new destination</title>
    </head>
    <body>
        <a  class='line' href="/desteny/trips"> BACK TO TRAVELS PAGE</a>
        <div class='container'> 
        <div class="parent">
                <h1>desirable travel destinations</h1>
                <% for(let j = 0; j < tripnew.length; j++){ %>
        <ul class='child' >
                <li> <h2> <%=tripnew[j].name; %></h2></li> 
                <li> <%=tripnew[j].description; %></li> 
                <li class="list-inline-item">  
                    <img class='img-fluid' src="<%=tripnew[j].img;%>" alt="picture" height="auto" width="450">
                </li>
                <li> $ <%=tripnew[j].price; %></li> 

                <div class="btn-group">
                <!-- EDIT LINK -->
                 <a  class="btn btn-success" 
                href="/desteny/newlist/<%=tripnew[j].id;%>/edit"> EDIT </a> 
               
                <!--  ADD DELETE FORM HERE-->
                <form  action="/desteny/newlist/<%=tripnew[j].id; %>?_method=DELETE" method="POST">
                    <input class="btn btn-secondary btn-sm" type="submit" value="DELETE"/>
                </form>
            </div>

            </ul>
            <%}%>
</div>
</div>
    </body>
</html>
